.bluegenesPathwayVisualizer {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // to build your css, run `lessc src/style.css dist/style.css --clean-css`
  // in your terminal


  // this is just an example class for root div element, you may modify or delete it as per your usecase
	.rootContainer {
		border: 1px solid black;
    padding: 20px;

    ::-webkit-scrollbar {
      width: 12px;
  }
   
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
      box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
  }
    .innerContainer {
      display: flex;

      .graph {
				width: calc(100vw - 18rem);

				.chart-title {
					font-weight: 300;
					font-size: 24px;
					font-family: sans-serif;
					display: flex;
					justify-content: center;
					margin: 12px;
				}
					
				.cyContainer {
					position: relative !important;
					height: 42rem !important;
				}
      }

      .controls {
        width: 18rem !important;
  
        .filter-panel-root {
          padding: 10px 0px;
          border: 0.5px solid black;
          border-radius: 10px;
          background: #F9F9F9;
          margin-bottom: 26px;
      
          h4.filter-panel-title {
            font-size: 22px;
            font-family: sans-serif;
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
            font-weight: 300;
          }

          .node-filter {
            display: flex;
            justify-content: space-between;
            height: 30px;
            padding: 0 8px;
            line-height: 30px;
            font-weight: 300;
            font-size: 16px;
            font-family: arial;
            color: black;
            text-align: center;

          .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 25px;
            }
            
            .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
            }
            
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }
            
            .slider:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }
            
            input:checked + .slider {
            background-color: rgb(72, 116, 235);
            }
            
            input:focus + .slider {
            box-shadow: 0 0 1px rgb(72, 116, 235);
            }
            
            input:checked + .slider:before {
            -webkit-transform: translateX(19px);
            -ms-transform: translateX(19px);
            transform: translateX(19px);
            }
          
            .slider.round {
            border-radius: 34px;
            }
            
            .slider.round:before {
            border-radius: 50%;
            }
          }

          .pathway-filter {
            padding: 0 8px;
            font-weight: 400;
            font-size: 18px;
            font-family: sans-serif;
            color: black;
            margin: 10px 0;
          }

          .extra-options-container {
            padding: 5px;
            display: flex;
            justify-content: center;
            .extra-options {
              cursor: pointer;
              margin-right: 10px;
              padding: 5px;
              font-size: 14px;
              font-family: arial;
            }
            .selected {
              color: white;
              background: rgb(72, 116, 235);
            }
            .not-selected {
              background: rgba(72, 116, 235, 0.2);
            }
          }
        
          .filter-panel {
            overflow-y: scroll;
            height: 30rem;
            padding: 8px;

            .filter-container {
              .option {
                display: flex;
              }
              input {
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer;
              }
              .nextLine {
                padding: 5px;
              }
              label {
                font-weight: 300;
                margin: 6px 0;
                font-size: 15px;
                font-family: arial;
                color: black;
                text-align: center;
                cursor: pointer;
              }
            }
          }
          .button-container {
            text-align: center;
            .filter-button {
              padding: 5px;
              width: 80%;
              color: white;
              font-size: 15px;
              background: rgb(72, 116, 235);
              border-radius: 15px;
            }
          }
        }
      }
    }
	}
}
